extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main

	section.dashboard
		.dashboard-container
			h1.dashboard-h1 Дашборд
			h1.dashboard-info Мы решили, что вам будет интересно узнать, как наши клиенты пользуются своими картами
			.dshb-stat1
				.dshb-stat1-item
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
						.dshb-stat1-item__text
							.dshb-stat1-item__digits 2,5
							.dshb-stat1-item__dimension млн клиентов
							#client.dshb-stat1-item__more-digits 2 567 880
							.dshb-stat1-item__description Количество клиентов со счетами в рублях
						img.dshb-stat1-item__pic(src="images/people.svg", alt="")
				.dshb-stat1-item
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
						.dshb-stat1-item__text
							.dshb-stat1-item__digits 791
							.dshb-stat1-item__dimension млн покупок
							#buy.dshb-stat1-item__more-digits 791 568 980
							.dshb-stat1-item__description Количество клиентов со счетами в рублях
						img.dshb-stat1-item__pic(src="images/cart.svg", alt="")
				.dshb-stat1-item
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
						.dshb-stat1-item__text
							.dshb-stat1-item__digits 337
							.dshb-stat1-item__dimension млрд потрачено
							#spent.dshb-stat1-item__more-digits 337 256 789 785
							.dshb-stat1-item__description Количество клиентов со счетами в рублях
						img.dshb-stat1-item__pic(src="images/purse.svg", alt="")
				.dshb-stat1-item
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
						.dshb-stat1-item__text
							.dshb-stat1-item__digits 1,3
							.dshb-stat1-item__dimension млрд кешбэка
							#cashback.dshb-stat1-item__more-digits 1 657 789 864
							.dshb-stat1-item__description Количество клиентов со счетами в рублях
						img.dshb-stat1-item__pic(src="images/cashback.svg", alt="")



			.dshb-stat2
				.dshb-stat2-item
					.dshb-stat2-item__inner
						.dshb-stat2-item__arts
							.dshb-stat2-item__art.dshb-stat2-item__art--1
							.dshb-stat2-item__art.dshb-stat2-item__art--2
							.dshb-stat2-item__art.dshb-stat2-item__art--3
							.dshb-stat2-item__art.dshb-stat2-item__art--4
							.dshb-stat2-item__art.dshb-stat2-item__art--5
						.dshb-stat2-item__title Платежи между картами
						.dshb-stat2-item__flex
							.dshb-stat2-item__flex-left
								.dshb-stat2-item__digits 95 млн
								.dshb-stat2-item__type исходящих
								#outgoing_transaction.dshb-stat2-item__more-digits 95 567 880
							.dshb-stat2-item__flex-right
								.dshb-stat2-item__digits 70 млн
								.dshb-stat2-item__type входящих
								#incomin_transaction.dshb-stat2-item__more-digits 70 567 880
				.dshb-stat2-item
					.dshb-stat2-item__inner
						.dshb-stat2-item__arts
							.dshb-stat2-item__art.dshb-stat2-item__art--1
							.dshb-stat2-item__art.dshb-stat2-item__art--2
							.dshb-stat2-item__art.dshb-stat2-item__art--3
							.dshb-stat2-item__art.dshb-stat2-item__art--4
							.dshb-stat2-item__art.dshb-stat2-item__art--5
						.dshb-stat2-item__title Реферальная программа
						.dshb-stat2-item__flex
							.dshb-stat2-item__flex-left
								.dshb-stat2-item__digits 1 млн
								.dshb-stat2-item__type приглашенных
								.dshb-stat2-item__more-digits 95 567 880
							.dshb-stat2-item__flex-right
								.dshb-stat2-item__digits 533 тыс
								.dshb-stat2-item__type пригласивших
								.dshb-stat2-item__more-digits 70 567 880

	script.
		//массив с начальным и конечным цветом градиентов(начальный цвет - цвет тени с блюром). лучше задавать в rgb или hex
		const backgroundColorsForGrad = [
			['rgb(180,246,165)', 'rgb(98,219,70)'],
			['rgb(255,170,86)', 'rgb(255,127,0)'],
			['OrangeRed', 'red'],
			['CadetBlue', 'blue'],
			['rgb(180,246,165)', 'rgb(98,219,70)'],
			['rgb(255,170,86)', 'rgb(255,127,0)'],
			['OrangeRed', 'red'],
			['CadetBlue', 'blue'],
			['rgb(180,246,165)', 'rgb(98,219,70)'],
			['rgb(255,170,86)', 'rgb(255,127,0)'],
			['OrangeRed', 'red'],
			['CadetBlue', 'blue'],
			['rgb(180,246,165)', 'rgb(98,219,70)'],
			['rgb(255,170,86)', 'rgb(255,127,0)'],
			['OrangeRed', 'red'],
			['CadetBlue', 'blue'],
			['rgb(255,170,86)', 'rgb(255,127,0)'],
			['rgb(180,246,165)', 'rgb(98,219,70)']
		];
		//Если что, эти значения относительны, и приводятся к проценту от их суммы, так что их сумма не должна быь равна 100. Эта фишка на случай если самые мелкие окажутся слишком тонкими, тогда ты на бекенде сможешь выводитьих сюда например через функцию max(реальное_значение, какая_то_минималка), чтобы слишком мелкие были больше и одного размера
		//UPD: слишком мелкие значения вызывали баги. Теперь те, что меньше 0,5% равняются 0,5%; 'это позволило избежать бага, и лучше отображать маленькие элементы(Это как раз соответствует макету), так что не парься, и выводи просто проценты'
		const chartData = [41.27,11.73,7.28,6.57,6.06,5.23,5.10,4.20,3.99,3.98,1.33,1.30,0.59,0.56,0.35,0.23,0.17,0.05];

		// [food, cafe, other, play, mobile, travel, beauty, taxi, communal, auto, dress, fix, cinema, appliances, animals, taxes, book, duty_free] - твои id. В массиве выше их надо вывести разделяя десятки точкой. ниже - запятой и добавляя в конец знак %.

	section.numpurchases
		.dashboard-container
			h2.dashboard-h2 Количество покупок в категории
		.dashboard-container.dashboard-container--chart
			.numpurchases-block
				.numpurchases-info.js-numpurchases-info
					//data-target - это индекс элемента(нумерация с нуля)
					//style="color:...;" - задаёшь цвет текста при ховере
					.numpurchases-info-item.numpurchases-info-item--active.js-numpurchases-info-item(data-target="0" style="color:#61DB45;")
						.numpurchases-info-item__name Продукты и супермаркеты
						#food.numpurchases-info-item__value 41,27%
						.numpurchases-info-item__progess(style=" background-color: #61DB45;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="1" style="color:#FF7F00;")
						.numpurchases-info-item__name Кафе и рестораны
						#cafe.numpurchases-info-item__value 11,73%
						.numpurchases-info-item__progess(style=" background-color: #FF7F00;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="2" style="color:#2FC9C8;")
						.numpurchases-info-item__name Прочее
						#other.numpurchases-info-item__value 7,28%
						.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="3" style="color:#0B8E42;")
						.numpurchases-info-item__name Развлечения и спорт
						#play.numpurchases-info-item__value 6,57%
						.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="4" style="color:#FFC219;")
						.numpurchases-info-item__name Пополнение мобильного
						#mobile.numpurchases-info-item__value 6,06%
						.numpurchases-info-item__progess(style=" background-color: #FFC219;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="5" style="color:#61DB45;")
						.numpurchases-info-item__name Продукты и супермаркеты
						#travel.numpurchases-info-item__value 41,27%
						.numpurchases-info-item__progess(style=" background-color: #61DB45;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="6" style="color:#FF7F00;")
						.numpurchases-info-item__name Кафе и рестораны
						#beauty.numpurchases-info-item__value 11,73%
						.numpurchases-info-item__progess(style=" background-color: #FF7F00;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="7" style="color:#2FC9C8;")
						.numpurchases-info-item__name Прочее
						#taxi.numpurchases-info-item__value 7,28%
						.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="8" style="color:#0B8E42;")
						.numpurchases-info-item__name Развлечения и спорт
						#communal.numpurchases-info-item__value 6,57%
						.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="9" style="color:#FFC219;")
						.numpurchases-info-item__name Пополнение мобильного
						#auto.numpurchases-info-item__value 6,06%
						.numpurchases-info-item__progess(style=" background-color: #FFC219;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="10" style="color:#61DB45;")
						.numpurchases-info-item__name Продукты и супермаркеты
						#dress.numpurchases-info-item__value 41,27%
						.numpurchases-info-item__progess(style=" background-color: #61DB45;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="11" style="color:#FF7F00;")
						.numpurchases-info-item__name Кафе и рестораны
						#fix.numpurchases-info-item__value 11,73%
						.numpurchases-info-item__progess(style=" background-color: #FF7F00;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="12" style="color:#2FC9C8;")
						.numpurchases-info-item__name Прочее
						#cinema.numpurchases-info-item__value 7,28%
						.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="13" style="color:#0B8E42;")
						.numpurchases-info-item__name Развлечения и спорт
						#appliances.numpurchases-info-item__value 6,57%
						.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="14" style="color:#FFC219;")
						.numpurchases-info-item__name Пополнение мобильного
						#animals.numpurchases-info-item__value 6,06%
						.numpurchases-info-item__progess(style=" background-color: #FFC219;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="15" style="color:#61DB45;")
						.numpurchases-info-item__name Продукты и супермаркеты
						#taxes.numpurchases-info-item__value 41,27%
						.numpurchases-info-item__progess(style=" background-color: #61DB45;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="16" style="color:#FF7F00;")
						.numpurchases-info-item__name Кафе и рестораны
						#book.numpurchases-info-item__value 11,73%
						.numpurchases-info-item__progess(style=" background-color: #FF7F00;")
					.numpurchases-info-item.js-numpurchases-info-item(data-target="17" style="color:#2FC9C8;")
						.numpurchases-info-item__name Прочее
						#duty_free.numpurchases-info-item__value 7,28%
						.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")

				#numpurchases-chart-wrap.numpurchases-chart-wrap
					canvas#numpurchases-chart
					canvas#numpurchases-chart-active-level

					#numpurchases-chart-icons.numpurchases-chart-icons
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/basket-green.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-1.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-2.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-3.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-4.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-5.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-6.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-7.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-8.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-9.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-10.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-11.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-12.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-13.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-14.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-15.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-16.svg", alt="")
						.numpurchases-chi-item
							img.numpurchases-chi-tiem__pic(src="images/last-section/Vectorls-icon-17.svg", alt="")


	section.topsellers
		.dashboard-container.dashboard-container--topsellers
			h2.dashboard-h2 Топ 5 продавцов по количеству покупок
			.topsellers-block
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon.svg", alt="")
							.topsellers-item__name Продукты и&nbsp;супермаркеты
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name АТБ
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Сільпо
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Фора
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name VARUS
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Novus
								.topsellers-item__li-value 8 013 180

				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-1.svg", alt="")
							.topsellers-item__name Кафе<br>  и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-2.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-3.svg", alt="")
							.topsellers-item__name Кафе <br> и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-4.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-5.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-6.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-7.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-8.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-9.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-10.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-11.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-12.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-13.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-14.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-15.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180
				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-16.svg", alt="")
							.topsellers-item__name Прочее
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name Нова пошта
								.topsellers-item__li-value 52 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Google
								.topsellers-item__li-value 37 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name portmone.com.ua
								.topsellers-item__li-value 10 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name Ali_express
								.topsellers-item__li-value 8 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Facebook
								.topsellers-item__li-value 8 013 180



				.topsellers-item
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic(src="images/last-section/Vectorls-icon-17.svg", alt="")
							.topsellers-item__name Кафе и рестораны
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name McDonalds
								.topsellers-item__li-value 12 578 885
							.topsellers-item__list-item
								.topsellers-item__li-name Пузата Хата
								.topsellers-item__li-value 2 713 455
							.topsellers-item__list-item
								.topsellers-item__li-name Aroma Kava
								.topsellers-item__li-value 1 253 728
							.topsellers-item__list-item
								.topsellers-item__li-name KFC
								.topsellers-item__li-value 1 676 519
							.topsellers-item__list-item
								.topsellers-item__li-name Lvivcroissants
								.topsellers-item__li-value 713 180



