extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main

	section.dashboard
		.dashboard-container
			h1.dashboard-h1(data-aos="fade-up") Home Credit Bank Card’s Portfolio
			.dshb-stat1
				.dshb-stat1-item(data-aos="custom-anim-1")
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
							.dshb-stat1-item__art.dshb-stat1-item__art--6
							.dshb-stat1-item__art.dshb-stat1-item__art--7
							.dshb-stat1-item__art.dshb-stat1-item__art--8
						.dshb-stat1-item__text
							.dshb-stat1-item__text-top
								.dshb-stat1-item__digits 2
								.dshb-stat1-item__dimension млн
							.dshb-stat1-item__description активных клиентов
							#client.dshb-stat1-item__more-digits 2 567 880
						.dshb-stat1-item__text
							.dshb-stat1-item__text-top
								.dshb-stat1-item__digits 979
								.dshb-stat1-item__dimension тыс
							.dshb-stat1-item__description активных <br class="dd"> карточных <br class="dd dt2"> клиентов
							#client-2.dshb-stat1-item__more-digits 979 782
						img.dshb-stat1-item__pic.dshb-stat1-item__pic--1(src="images/dshb-stat1-1.png", alt="")
				.dshb-stat1-item(data-aos="custom-anim-1")
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
							.dshb-stat1-item__art.dshb-stat1-item__art--6
							.dshb-stat1-item__art.dshb-stat1-item__art--7
							.dshb-stat1-item__art.dshb-stat1-item__art--8
						.dshb-stat1-item__text
							.dshb-stat1-item__text-top
								.dshb-stat1-item__digits.dshb-stat1-item__digits--first-digit-one 178
								.dshb-stat1-item__dimension млн
							.dshb-stat1-item__description покупок
							#buy.dshb-stat1-item__more-digits 791 568 980
						img.dshb-stat1-item__pic.dshb-stat1-item__pic--2(src="images/dshb-stat1-2.png", alt="")
				.dshb-stat1-item(data-aos="custom-anim-1")
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
							.dshb-stat1-item__art.dshb-stat1-item__art--6
							.dshb-stat1-item__art.dshb-stat1-item__art--7
							.dshb-stat1-item__art.dshb-stat1-item__art--8
						.dshb-stat1-item__text
							.dshb-stat1-item__text-top
								.dshb-stat1-item__digits.dshb-stat1-item__digits--first-digit-one 160
								.dshb-stat1-item__dimension млрд
							.dshb-stat1-item__description потрачено
							#buy.dshb-stat1-item__more-digits 160 256 789 785<span class="dshb-stat1-item__more-digits-rouble">₽</span>
						img.dshb-stat1-item__pic.dshb-stat1-item__pic--3(src="images/dshb-stat1-3.png", alt="")
				.dshb-stat1-item(data-aos="custom-anim-1")
					.dshb-stat1-item__inner
						.dshb-stat1-item__arts
							.dshb-stat1-item__art.dshb-stat1-item__art--1
							.dshb-stat1-item__art.dshb-stat1-item__art--2
							.dshb-stat1-item__art.dshb-stat1-item__art--3
							.dshb-stat1-item__art.dshb-stat1-item__art--4
							.dshb-stat1-item__art.dshb-stat1-item__art--5
							.dshb-stat1-item__art.dshb-stat1-item__art--6
							.dshb-stat1-item__art.dshb-stat1-item__art--7
							.dshb-stat1-item__art.dshb-stat1-item__art--8
						.dshb-stat1-item__text
							.dshb-stat1-item__text-top
								.dshb-stat1-item__digits.dshb-stat1-item__digits--first-digit-one 1
								.dshb-stat1-item__dimension млрд
							.dshb-stat1-item__description кэшбека
							#buy.dshb-stat1-item__more-digits 1 657 789 864<span class="dshb-stat1-item__more-digits-rouble">₽</span>
						img.dshb-stat1-item__pic.dshb-stat1-item__pic--4(src="images/dshb-stat1-4.png", alt="")


			.dshb-stat2
				.dshb-stat2-item(data-aos="fade-up")
					.dshb-stat2-item__inner
						.dshb-stat2-item__arts
							.dshb-stat2-item__art.dshb-stat2-item__art--1
							.dshb-stat2-item__art.dshb-stat2-item__art--2
							.dshb-stat2-item__art.dshb-stat2-item__art--3
							.dshb-stat2-item__art.dshb-stat2-item__art--4
							.dshb-stat2-item__art.dshb-stat2-item__art--5
							.dshb-stat2-item__art.dshb-stat2-item__art--6
							.dshb-stat2-item__art.dshb-stat2-item__art--7
							.dshb-stat2-item__art.dshb-stat2-item__art--8
						.dshb-stat2-item__title Реферальная программа
						.dshb-stat2-item__flex
							.dshb-stat2-item__part
								.dshb-stat2-item__top
									.dshb-stat2-item__digits.dshb-stat1-item__digits 54
									.dshb-stat2-item__dimension.dshb-stat1-item__dimension ТЫС
								.dshb-stat2-item__type.dshb-stat1-item__description приглашенных
								.dshb-stat2-item__more-digits.dshb-stat1-item__more-digits 54 468
							.dshb-stat2-item__part
								.dshb-stat2-item__top
									.dshb-stat2-item__digits.dshb-stat1-item__digits 32
									.dshb-stat2-item__dimension.dshb-stat1-item__dimension ТЫС
								.dshb-stat2-item__type.dshb-stat1-item__description пригласивших
								.dshb-stat2-item__more-digits.dshb-stat1-item__more-digits 32 733
							.dshb-stat2-item__part
								.dshb-stat2-item__top.dshb-stat1-item__digits--first-digit-one
									.dshb-stat2-item__digits.dshb-stat1-item__digits 13 313 580 ₽
								.dshb-stat2-item__type.dshb-stat1-item__description бонусов выплачено

				.dshb-stat2-item(data-aos="fade-up")
					.dshb-stat2-item__inner

						.dshb-stat2-item__arts
							.dshb-stat2-item__art.dshb-stat2-item__art--1
							.dshb-stat2-item__art.dshb-stat2-item__art--2
							.dshb-stat2-item__art.dshb-stat2-item__art--3
							.dshb-stat2-item__art.dshb-stat2-item__art--4
							.dshb-stat2-item__art.dshb-stat2-item__art--5
							.dshb-stat2-item__art.dshb-stat2-item__art--6
							.dshb-stat2-item__art.dshb-stat2-item__art--7
							.dshb-stat2-item__art.dshb-stat2-item__art--8
						.dshb-stat2-item__title Пользователи мобильного приложения
						.dshb-stat2-item__flex
							.dshb-stat2-item__part
								.dshb-stat2-item__top
									.dshb-stat2-item__digits.dshb-stat1-item__digits 2
									.dshb-stat2-item__dimension.dshb-stat1-item__dimension млн
								.dshb-stat2-item__type.dshb-stat1-item__description активных клиентов в месяц
								.dshb-stat2-item__more-digits.dshb-stat1-item__more-digits 2 766 108
							.dshb-stat2-item__part
								.dshb-stat2-item__top
									.dshb-stat2-item__digits.dshb-stat1-item__digits 609
									.dshb-stat2-item__dimension.dshb-stat1-item__dimension ТЫС
								.dshb-stat2-item__type.dshb-stat1-item__description активных клиентов в день
								.dshb-stat2-item__more-digits.dshb-stat1-item__more-digits 609 632
						img.dshb-stat2-item__pic.dshb-stat2-item__pic--2(src="images/dshb-stat2-2.png", alt="")
	script.
		//массив с начальным и конечным цветом градиентов(начальный цвет - цвет тени с блюром). лучше задавать в rgb или hex
		const backgroundColorsForGrad = [


			['rgb(184,248,170)', 'rgb(98,219,70)'],//зел
			['rgb(255,142,30)', 'rgb(255,135,16)'],//оран
			['rgb(79,209,208)', 'rgb(77,209,208)'],//бирюз
			['rgb(33,164,88)', 'rgb(34,165,89)'],//тёмзел
			['rgb(255,200,50)', 'rgb(255,202,51)'],//желт
			['rgb(125,228,101)', 'rgb(98,219,70)'],//зел
			['rgb(226,37,65)', 'rgb(228,41,69)'],//кр
			['rgb(185,43,255)', 'rgb(192,49,255)'],//розов
			['rgb(31,87,211)', 'rgb(18,75,202)'],//син
			['rgb(33,164,88)', 'rgb(34,165,89)'],//тёмзел
			['rgb(255,200,50)', 'rgb(255,202,51)'],//желт
			['rgb(79,209,208)', 'rgb(77,209,208)'],//бирюз
			['rgb(185,43,255)', 'rgb(192,49,255)'],//розов
			['rgb(255,142,30)', 'rgb(255,135,16)'],//оран
			['rgb(33,164,88)', 'rgb(34,165,89)'],//тёмзел
			['rgb(31,87,211)', 'rgb(18,75,202)'],//син
			['rgb(226,37,65)', 'rgb(228,41,69)'],//кр
			['rgb(185,43,255)', 'rgb(192,49,255)']//розов

		];
		//Если что, эти значения относительны, и приводятся к проценту от их суммы, так что их сумма не должна быь равна 100. Эта фишка на случай если самые мелкие окажутся слишком тонкими, тогда ты на бекенде сможешь выводитьих сюда например через функцию max(реальное_значение, какая_то_минималка), чтобы слишком мелкие были больше и одного размера
		//UPD: слишком мелкие значения вызывали баги. Теперь те, что меньше 0,5% равняются 0,5%; 'это позволило избежать бага, и лучше отображать маленькие элементы(Это как раз соответствует макету), так что не парься, и выводи просто проценты'
		const chartData = [41.27,11.73,7.28,6.57,6.06,5.23,5.10,4.20,3.99,3.98,1.33,1.30,0.59,0.56,0.35,0.23,0.17,0.05];

		// [food, cafe, other, play, mobile, travel, beauty, taxi, communal, auto, dress, fix, cinema, appliances, animals, taxes, book, duty_free] - твои id. В массиве выше их надо вывести разделяя десятки точкой. ниже - запятой и добавляя в конец знак %.

	section.numpurchases(data-aos="fade-up")
		.dashboard-container.dashboard-container--numpurchases
			.numpurchases-inner
				h2.dashboard-h2 Количество покупок в категории

				.numpurchases-block
					.numpurchases-info.js-numpurchases-info
						//data-target - это индекс элемента(нумерация с нуля)
						//style="color:...;" - задаёшь цвет текста при ховере
						.numpurchases-info-item.js-numpurchases-info-item(data-target="0" style="color:#026DFD;")
							.numpurchases-info-item__name Продукты и супермаркеты
							#food.numpurchases-info-item__value 41 ,27%
							.numpurchases-info-item__progess(style="background-color: #026DFD;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="1" style="color:#FF6B00;")
							.numpurchases-info-item__name Кафе и рестораны
							#cafe.numpurchases-info-item__value 11 ,73%
							.numpurchases-info-item__progess(style=" background-color: #FF6B00;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="2" style="color:#2FC9C8;")
							.numpurchases-info-item__name Прочее
							#other.numpurchases-info-item__value 7 ,28%
							.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="3" style="color:#0B8E42;")
							.numpurchases-info-item__name Развлечения и спорт
							#play.numpurchases-info-item__value 6 ,57%
							.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="4" style="color:#FFC219;")
							.numpurchases-info-item__name Пополнение мобильного
							#mobile.numpurchases-info-item__value 6 ,06%
							.numpurchases-info-item__progess(style=" background-color: #FFC219;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="5" style="color:#61DB45;")
							.numpurchases-info-item__name Путешествия
							#travel.numpurchases-info-item__value 5 ,23%
							.numpurchases-info-item__progess(style=" background-color: #61DB45;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="6" style="color:#DB0626;")
							.numpurchases-info-item__name Красота и медицина
							#beauty.numpurchases-info-item__value 5 ,10%
							.numpurchases-info-item__progess(style=" background-color: #DB0626;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="7" style="color:#A15CE6;")
							.numpurchases-info-item__name Такси
							#taxi.numpurchases-info-item__value 4 ,20%
							.numpurchases-info-item__progess(style=" background-color: #A15CE6;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="8" style="color:#004FFF;")
							.numpurchases-info-item__name Коммуналка и интернет
							#communal.numpurchases-info-item__value 3 ,99%
							.numpurchases-info-item__progess(style=" background-color: #004FFF;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="9" style="color:#0B8E42;")
							.numpurchases-info-item__name Авто
							#auto.numpurchases-info-item__value 3 ,98%
							.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="10" style="color:#FFC219;")
							.numpurchases-info-item__name Одежда и обувь
							#dress.numpurchases-info-item__value 1 ,33%
							.numpurchases-info-item__progess(style=" background-color: #FFC219;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="11" style="color:#2FC9C8;")
							.numpurchases-info-item__name Ремонт
							#fix.numpurchases-info-item__value 1 ,30%
							.numpurchases-info-item__progess(style=" background-color: #2FC9C8;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="12" style="color:#A15CE6;")
							.numpurchases-info-item__name Кино
							#cinema.numpurchases-info-item__value 0 ,59%
							.numpurchases-info-item__progess(style=" background-color: #A15CE6;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="13" style="color:#FF6B00;")
							.numpurchases-info-item__name Бытовая техника
							#appliances.numpurchases-info-item__value 0 ,56%
							.numpurchases-info-item__progess(style=" background-color: #FF6B00;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="14" style="color:#0B8E42;")
							.numpurchases-info-item__name Животные
							#animals.numpurchases-info-item__value 0 ,35%
							.numpurchases-info-item__progess(style=" background-color: #0B8E42;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="15" style="color:#004FFF;")
							.numpurchases-info-item__name Бюджет и налоги
							#taxes.numpurchases-info-item__value 0 ,23%
							.numpurchases-info-item__progess(style=" background-color: #004FFF;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="16" style="color:#DB0626;")
							.numpurchases-info-item__name Книги
							#book.numpurchases-info-item__value 0 ,17%
							.numpurchases-info-item__progess(style=" background-color: #DB0626;")
						.numpurchases-info-item.js-numpurchases-info-item(data-target="17" style="color:#A15CE6;")
							.numpurchases-info-item__name Duty Free
							#duty_free.numpurchases-info-item__value 0 ,05%
							.numpurchases-info-item__progess(style=" background-color: #A15CE6;")

					#numpurchases-chart-wrap.numpurchases-chart-wrap
						img(src="images/chart-placeholder.jpg", alt="")

	section.topsellers
		.dashboard-container.dashboard-container--topsellers
			h2.dashboard-h2(data-aos="fade-up") Топ 5 продавцов по количеству покупок
			.topsellers-block
				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--1(src="images/last-section/Vectorls-icon-1.png", alt="")
							.topsellers-item__name Продукты<br> и розничные магазины
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name MAGNIT
								.topsellers-item__li-value  10 167 774
							.topsellers-item__list-item
								.topsellers-item__li-name PYATEROCHKA
								.topsellers-item__li-value  9 666 535
							.topsellers-item__list-item
								.topsellers-item__li-name PEREKRESTOK
								.topsellers-item__li-value  1 825 669
							.topsellers-item__list-item
								.topsellers-item__li-name DIKSI
								.topsellers-item__li-value  1 716 012
							.topsellers-item__list-item
								.topsellers-item__li-name LENTA
								.topsellers-item__li-value  1 782 236

				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--2(src="images/last-section/Vectorls-icon-2.png", alt="")
							.topsellers-item__name Одежда <br class="dd dt2"> и обувь
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name WILDBERRIES
								.topsellers-item__li-value 1 461 241
							.topsellers-item__list-item
								.topsellers-item__li-name OSTIN
								.topsellers-item__li-value 157 868
							.topsellers-item__list-item
								.topsellers-item__li-name LAMODA
								.topsellers-item__li-value 157 929
							.topsellers-item__list-item
								.topsellers-item__li-name GLORIA JEANS
								.topsellers-item__li-value 129 390
							.topsellers-item__list-item
								.topsellers-item__li-name KARI
								.topsellers-item__li-value 126 603
				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--3(src="images/last-section/Vectorls-icon-3.png", alt="")
							.topsellers-item__name  Дом <br class="dd dt2"> и ремонт
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name LERUA MERLEN
								.topsellers-item__li-value 345 093
							.topsellers-item__list-item
								.topsellers-item__li-name IKEA
								.topsellers-item__li-value 118 397
							.topsellers-item__list-item
								.topsellers-item__li-name GALAMART
								.topsellers-item__li-value 105 252
							.topsellers-item__list-item
								.topsellers-item__li-name OBI
								.topsellers-item__li-value 63 567
							.topsellers-item__list-item
								.topsellers-item__li-name MEGASTROY
								.topsellers-item__li-value 43 694



				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--4(src="images/last-section/Vectorls-icon-4.png", alt="")
							.topsellers-item__name Детские товары
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name DETSKIY MIR
								.topsellers-item__li-value 510 460
							.topsellers-item__list-item
								.topsellers-item__li-name DOCHKI-SYNOCHKI
								.topsellers-item__li-value 61 323
							.topsellers-item__list-item
								.topsellers-item__li-name RICH FAMILY
								.topsellers-item__li-value 30 811
							.topsellers-item__list-item
								.topsellers-item__li-name KORABLIK
								.topsellers-item__li-value 24  812
							.topsellers-item__list-item
								.topsellers-item__li-name MOTHERCARE
								.topsellers-item__li-value 12 203
				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--5(src="images/last-section/Vectorls-icon-5.png", alt="")
							.topsellers-item__name  Красота
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name LETUAL
								.topsellers-item__li-value 197 421
							.topsellers-item__list-item
								.topsellers-item__li-name ULYBKA RADUGI
								.topsellers-item__li-value 60 705
							.topsellers-item__list-item
								.topsellers-item__li-name RIVE GAUCHE
								.topsellers-item__li-value 58 125
							.topsellers-item__list-item
								.topsellers-item__li-name PODRUZHKA
								.topsellers-item__li-value 52 363
							.topsellers-item__list-item
								.topsellers-item__li-name PARFYUM LIDER
								.topsellers-item__li-value 34 722



				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--6(src="images/last-section/Vectorls-icon-6.png", alt="")
							.topsellers-item__name Электроника
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name DNS
								.topsellers-item__li-value 271 013
							.topsellers-item__list-item
								.topsellers-item__li-name M.VIDEO
								.topsellers-item__li-value 189 435
							.topsellers-item__list-item
								.topsellers-item__li-name CITILINK
								.topsellers-item__li-value 139 459
							.topsellers-item__list-item
								.topsellers-item__li-name BERU
								.topsellers-item__li-value 31 460
							.topsellers-item__list-item
								.topsellers-item__li-name RBT.RU
								.topsellers-item__li-value 28 553
				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--7(src="images/last-section/Vectorls-icon-7.png", alt="")
							.topsellers-item__name  Товары для животных
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name 4 LAPY
								.topsellers-item__li-value 82 841
							.topsellers-item__list-item
								.topsellers-item__li-name ZOOMIR
								.topsellers-item__li-value 16 751
							.topsellers-item__list-item
								.topsellers-item__li-name BETKHOVEN
								.topsellers-item__li-value 14 645
							.topsellers-item__list-item
								.topsellers-item__li-name PETSHOP.RU
								.topsellers-item__li-value 14 008
							.topsellers-item__list-item
								.topsellers-item__li-name BELYJKROLIK
								.topsellers-item__li-value 8 615



				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--8(src="images/last-section/Vectorls-icon-8.png", alt="")
							.topsellers-item__name  Путешествия
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name RZD
								.topsellers-item__li-value 156 945
							.topsellers-item__list-item
								.topsellers-item__li-name YANDEX DRIVE
								.topsellers-item__li-value 50 089
							.topsellers-item__list-item
								.topsellers-item__li-name AEROFLOT
								.topsellers-item__li-value 27 330
							.topsellers-item__list-item
								.topsellers-item__li-name POBEDA
								.topsellers-item__li-value 24 788
							.topsellers-item__list-item
								.topsellers-item__li-name S7
								.topsellers-item__li-value 16 534
				.topsellers-item(data-aos="fade-up")
					.topsellers-item__inner
						.topsellers-item_arts
							.topsellers-item__art.topsellers-item__art--1
							.topsellers-item__art.topsellers-item__art--2
							.topsellers-item__art.topsellers-item__art--3
							.topsellers-item__art.topsellers-item__art--4
						.topsellers-item__top
							img.topsellers-item__pic.topsellers-item__pic--9(src="images/last-section/Vectorls-icon-9.png", alt="")
							.topsellers-item__name Спорт
						.topsellers-item__list
							.topsellers-item__list-item
								.topsellers-item__li-name SPORTMASTER
								.topsellers-item__li-value 201 994
							.topsellers-item__list-item
								.topsellers-item__li-name DECATHLON
								.topsellers-item__li-value 8 567
							.topsellers-item__list-item
								.topsellers-item__li-name ADIDAS
								.topsellers-item__li-value 8 617
							.topsellers-item__list-item
								.topsellers-item__li-name PUMA
								.topsellers-item__li-value 8 173
							.topsellers-item__list-item
								.topsellers-item__li-name NIKE
								.topsellers-item__li-value 7 691