.dd,//десктоп
.dt1,//таблетка 1
.dt2,//таблетка 2
.dm1,//мобилка 1
.dm2 //мобилка 2
{
	display: none;
}

@media screen and (min-width: 1340px) {
	.dd {
		display: block;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1339px) {
	.dt1 {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 999px) {
	.dt2 {
		display: block;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.dm1 {
		display: block;
	}
}

@media screen and (max-width: 479px) {
	.dm2 {
		display: block;
	}
}


@media screen and (max-width: 1340px) {
	.dashboard-container {
		width: 958px;
	}

	.dashboard-page {
		padding-top: 80px;
		padding-bottom: 144px;
	}

	.dshb-stat1 {
		margin-left: 0;
		margin-top: 50px;
		justify-content: space-between;
	}

	.dshb-stat1-item {
		margin-left: 0;
		width: calc(50% - 9px);

		&__inner {
			min-height: 310px;
		}

		&:nth-child(1) {}

		&:nth-child(2) {}

		&:nth-child(3) {}

		&:nth-child(4) {}

		&__text {
			&+.dshb-stat1-item__text {}
		}

		&__text-top {}

		&__digits {
			&--first-digit-one {}
		}

		&__dimension {}

		&__description {}

		&__more-digits {}

		&__more-digits-rouble {}

		&__pic {
			&--1 {
				right: 22px;
				bottom: -9px;
				width: 157px;
			}

			&--2 {
				right: 15px;
				bottom: -1px;
				width: 166px;
			}

			&--3 {
				right: 14px;
				bottom: -26px;
				width: 180px;
			}

			&--4 {
				right: 12px;
				bottom: -3px;
				width: 150px;
			}
		}

		&.aos-animate {
			.dshb-stat1-item__pic {
				/*&--1 {
					transition-delay: 1s;
				}

				&--2 {
					transition-delay: 1.4s;
				}

				&--3 {
					transition-delay: 1s;
				}

				&--4 {
					transition-delay: 1.4s;
				}*/
			}
		}

		&:hover {
			.dshb-stat1-item__art {
				&--1 {}

				&--2 {}

				&--3 {}

				&--4 {}

				&--5 {}

				&--6 {}

				&--7 {}
			}
		}
	}

	.dshb-stat1-item__arts {}

	.dshb-stat1-item__art {
		&--1 {
			top: 17px;
			left: 155px;
		}

		&--2 {
			top: 55px;
			left: 191px;
		}

		&--3 {
			top: 101px;
			left: 273px;
		}

		&--4 {
			left: 14px;
			top: 45.7%;
		}

		&--5 {
			top: 141px;
			left: 207px;
		}

		&--6 {
			top: 161px;
			left: 108px;
		}

		&--7 {
			top: 224px;
			left: 11px;
		}

		&--8 {
			top: 208px;
			left: 265px;
		}
	}

	@media screen and (min-width: 1000px) {
		.dshb-stat1-item {
			&:nth-child(1) {
				.dshb-stat1-item__art {
					&--1 {
						top: 24px;
					}

					&--2 {
						top: 85px;
						left: 218px;
					}

					&--3 {
						top: 110px;
					}

					&--4 {
						left: 19px;
						top: 147px;
					}

					&--5,
					&--6,
					&--7,
					&--8 {}
				}
			}

			&:nth-child(3) {
				.dshb-stat1-item__art {
					&--5 {}

					&--3,
					&--6 {}
				}
			}
		}
	}

	///////////section 2
	.dshb-stat2 {}

	.dshb-stat2-item {
		&+.dshb-stat2-item {}

		&:nth-child(1) {}

		&:nth-child(2) {
			.dshb-stat2-item__inner {}
		}

		@media screen and (min-width: 1300px) {
			&:first-child {}
		}

		&__inner {
			padding: 31px 21px 46px;
		}

		&__flex {}

		&__part {
			min-width: 282px;

			&:nth-child(2) {
				min-width: 260px;
			}
		}

		&__title {}

		&__top {}

		&__digits {}

		&__dimension {}

		&__type {}

		&__more-digits {}

		&__arts {}

		&__art {
			&--1 {}

			&--2 {}

			&--3 {}

			&--4 {
				bottom: 31px;
			}

			&--5 {}

			&--6 {
				width: 19px;
				height: 19px;
				top: 31px;
				right: 177px;

				border: 3px solid rgba(255, 255, 255, 0.18);
				box-sizing: border-box;
			}

			&--7 {
				right: 25px;
				top: 80px;
			}

			&--8 {
				right: -14px;
			}
		}

		&:nth-child(2) {
			.dshb-stat2-item__art {
				&--1 {}

				&--2 {}

				&--3 {}

				&--4 {}

				&--5 {}

				&--6 {}

				&--7 {}

				&--8 {}
			}
		}
	}

	.dshb-stat2-item__pic {
		&--2 {
			right: 23px;
		}
	}

	///////////section 3
	.dashboard-h2 {
		/* title */
	}

	.numpurchases {}

	.dashboard-container--numpurchases {
		width: 982px;
		max-width: calc(100% - 18px);

	}

	.numpurchases-inner {
		padding: 45px 11px 63px 11px;
	}

	.dashboard-container--chart {}

	.numpurchases-block {
		margin-top: 27px;
	}

	.numpurchases-info {
		padding-top: 0;
		width: 317px;
	}

	.numpurchases-chart-wrap {
		width: calc(100% - 341px);

		img {
			width: 100%;
			height: 100%;
		}
	}

	.numpurchases-info-item {
		&--active {
			.numpurchases-info-item__progess {}
		}

		&__name {}

		&__value {
			width: 70px;
			margin-right: -5px;
		}

		&__progess {}

		&:hover {
			.numpurchases-info-item {
				&__name {}
			}
		}

		&+.numpurchases-info-item {}
	}

	///////////section 4
	.topsellers {
		.dashboard-container {
			&--topsellers {}
		}
	}

	.dashboard-h2 {}

	.dashboard-container--topsellers {
		width: 960px;
	}

	.topsellers-block {
		margin-top: 53px;
		margin-left: -15px;
		margin-bottom: -29px;
	}

	.topsellers-item {
		margin-left: 15px;
		width: calc(33.33% - 15px);
		margin-bottom: 29px;

		&:nth-child(1) {}

		&:nth-child(2) {}

		&:nth-child(3) {}

		&:nth-child(4) {}

		&:nth-child(5) {}

		&:nth-child(6) {}

		&:nth-child(7) {}

		&:nth-child(8) {}

		&:nth-child(9) {}

		&__inner {
			padding: 22px 19px 32px 21px;
		}

		&__arts {}

		&__art {
			&--1 {
				left: 7%;
			}

			&--2 {
				left: 61%;
			}

			&--3 {
				left: 78.5%;
			}

			&--4 {
				display: none;
			}
		}

		&__pic {
			&--1 {}

			&--2 {}

			&--3 {}

			&--4 {}

			&--5 {}

			&--6 {}

			&--7 {}

			&--8 {
				width: 124px
			}

			&--9 {}
		}

		&__top {
			min-height: 90px;
		}

		&__name {
			width: 160px;
			max-width: 100%;
		}

		&__list {
			margin-top: 9px;
		}

		&__list-item {
			&+.topsellers-item__list-item {}
		}

		&__li-name {}

		&__li-value {
			/* or 24px */
		}
	}
}

@media screen and (max-width: 999px) {

	.dashboard-page-bg {}

	.dashboard-page {
		padding-top: 69px;

	}

	.dashboard-container {
		&--chart {}
	}

	.dashboard {}

	.dashboard-h1 {
		font-weight: bold;
		font-size: 44px;
		line-height: 57px;
		/* identical to box height */

		letter-spacing: 0.015em;
	}

	.dashboard-info {}

	.dshb-stat1 {}

	.dshb-stat1-item {
		&__inner {
			min-height: 290px;
			padding-bottom: 19px;
		}

		&:nth-child(1) {}

		&:nth-child(2) {}

		&:nth-child(3) {}

		&:nth-child(4) {}

		&__text {
			padding: 23px 10px 0 21px;

			&+.dshb-stat1-item__text {
				padding-top: 23px;

				.dshb-stat1-item__description {
					margin-top: 3px;

				}
			}
		}

		&__text-top {}

		&__digits {
			font-weight: 500;
			font-size: 50px;
			line-height: 50px;

			&--first-digit-one {
				margin-left: 0px;
			}
		}

		&__dimension {
			font-weight: bold;
			font-size: 23px;
			line-height: 31px;
		}

		&__description {
			font-weight: 500;
			font-size: 16px;
			line-height: 130.5%;
			margin-top: 8px;
		}

		&__more-digits {
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			margin-top: 3px;
		}

		&__more-digits-rouble {
			margin-left: 3px;
		}

		&__pic {
			//transition-delay: 0s !important;

			&--1 {
				right: 10px;
				width: 124px;
			}

			&--2 {
				width: 129px;
			}

			&--3 {
				right: 11px;
				bottom: -19px;
				width: 136px;
			}

			&--4 {
				right: 20px;
				bottom: -3px;
				width: 110px;
			}
		}

		&.aos-animate {
			.dshb-stat1-item__pic {
				&--1 {}

				&--2 {}

				&--3 {}

				&--4 {}
			}
		}

		&:hover {
			.dshb-stat1-item__art {
				&--1 {}

				&--2 {}

				&--3 {}

				&--4 {}

				&--5 {}

				&--6 {}

				&--7 {}
			}
		}
	}

	.dshb-stat1-item__arts {}

	.dshb-stat1-item__art {
		&--1 {
			top: 24px;
			background: rgba(255, 255, 255, 0.15);
		}

		&--2 {
			top: 85px;
			left: 128px;
			border: 2px solid rgba(255, 255, 255, 0.15);
		}

		&--3 {
			top: 110px;
			left: 183px;
			opacity: .15;
		}

		&--4 {
			left: 20px;
			top: 147px;
			border: 3px solid rgba(255, 255, 255, 0.15);
		}

		&--5 {
			display: none;
		}

		&--6 {
			display: none;
		}

		&--7 {
			top: 0;
			left: 279px;
		}

		&--8 {
			display: none;
		}
	}

	.dshb-stat1-item {
		&:nth-child(1) {
			/*.dshb-stat1-item__art {
				&--1 {}

				&--2 {
					top: 85px;
					left: 128px;
				}

				&--3 {}

				&--4 {}

				&--7 {
					display: block;

					top: 0;
					left: 279px;
				}

				&--5,
				&--6,
				&--7,
				&--8 {}
			}*/
		}

		&:nth-child(3) {
			.dshb-stat1-item__art {
				&--5 {}

				&--3,
				&--6 {}
			}
		}
	}

	///////////section 2
	.dshb-stat2 {
		margin-top: 55px;
	}

	.dshb-stat2-item {
		&+.dshb-stat2-item {
			//margin-top: 55px;
			margin-top: 72px;
		}

		&:nth-child(1) {}

		&:nth-child(2) {
			.dshb-stat2-item__inner {}

			@media screen and (min-width: 768px) {
				.dshb-stat2-item__part {
					min-width: 283px;
				}
			}
		}

		@media screen and (min-width: 1300px) {
			&:first-child {}
		}

		&__inner {
			padding: 30px 21px 29px;
		}

		&__flex {}

		&__part {
			min-width: 200px;

			&:nth-child(2) {
				min-width: 181px;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 32px;
			line-height: 41px;
		}

		&__top {
			margin-top: 26px;

			&.dshb-stat1-item__digits--first-digit-one {

				margin-left: -8px;
			}
		}

		&__digits {}

		&__dimension {}

		&__type {
			margin-top: 15px;
		}

		&__more-digits {}

		&__arts {}

		&__art {
			&--1 {}

			&--2 {
				display: none;
			}

			&--3 {
				top: 27%;
			}

			&--4 {
				bottom: 15px;
			}

			&--5 {
				display: none;
			}

			&--6 {
				display: none;
			}

			&--7 {
				display: none;
			}

			&--8 {
				display: none;
			}
		}

		&:nth-child(2) {
			.dshb-stat2-item__art {
				&--1 {
					top: 46px;
				}

				&--2 {}

				&--3 {
					top: 109px;
				}

				&--4 {}

				&--5 {}

				&--6 {}

				&--7 {}

				&--8 {}
			}
		}
	}

	.dshb-stat2-item__pic {
		&--2 {
			right: 26px;
			bottom: -18px;
			width: 101px;
		}
	}

	///////////section 3
	.dashboard-h2 {
		/* title */

		font-weight: bold;
		font-size: 32px;
		line-height: 41px;
	}

	.numpurchases {
		margin-top: 124px;
	}

	.dashboard-container--numpurchases {
		max-width: calc(100% - 18px);

	}

	.numpurchases-inner {
		padding: 44px 25px 49px 20px;
	}

	.dashboard-container--chart {}

	.numpurchases-block {
		margin-top: 26px;
	}

	.numpurchases-info {
		width: 100%;
	}

	.numpurchases-chart-wrap {
		display: none;

		img {}
	}

	.numpurchases-info-item {
		padding-bottom: 7px;

		&--active {
			.numpurchases-info-item__progess {}
		}

		&__name {}

		&__value {
			font-weight: 600;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: -0.01em;
			/* or 27px */
		}

		&__progess {}

		&:hover {
			.numpurchases-info-item {
				&__name {}
			}
		}

		&+.numpurchases-info-item {
			margin-top: 7px;
		}
	}

	///////////section 4
	.topsellers {
		margin-top: 99px;

	}

	.dashboard-container--topsellers {
		max-width: calc(100% - 38px);
	}


	.dashboard-h2 {}

	.topsellers-block {
		margin-top: 42px;
		margin-bottom: -30px;
	}

	.topsellers-item {
		margin-bottom: 30px;
		width: calc(33.33% - 18px);

		&:nth-child(1) {}

		&:nth-child(2) {}

		&:nth-child(3) {}

		&:nth-child(4) {}

		&:nth-child(5) {}

		&:nth-child(6) {}

		&:nth-child(7) {}

		&:nth-child(8) {}

		&:nth-child(9) {}

		&__inner {
			padding: 13px 16px 21px 10px;
		}

		&__arts {}

		&__art {
			&--1 {
				top: 73px;
				left: 23px;
			}

			&--2 {
				left: 190px;
				top: -6px;
			}

			&--3 {
				left: -8px;
				bottom: 35%;
			}

			&--4 {
				display: block;
				top: 27px;
				left: 126px;
				bottom: auto;
			}
		}

		&__pic {
			&--1 {
				width: 117px;
				top: -4px;
			}

			&--2 {
				width: 138px;
				top: -4px;
			}

			&--3 {
				width: 102px;
				top: -5px;
			}

			&--4 {
				width: 118px;
				top: -4px;
			}

			&--5 {
				width: 129px;
				top: -5px;
			}

			&--6 {
				width: 132px;
			}

			&--7 {
				width: 116px;
			}

			&--8 {
				width: 113px;
			}

			&--9 {
				width: 115px;
			}
		}

		&__top {
			min-height: 24*3px;
			justify-content: flex-start;
		}

		&__name {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			width: 109px;
		}

		&__list {
			margin-top: 26px;
		}

		&__list-item {
			&+.topsellers-item__list-item {
				margin-top: 11px;
			}
		}

		&__li-name {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 135%;
		}

		&__li-value {
			font-weight: bold;
			font-size: 14px;
			line-height: 135%;
			/* or 24px */
		}
	}
}